### **ANÁLISIS EXPLORATORIO DE LOS DATOS**

In [48]:
import sqlite3
import pandas as pd

In [53]:
# Conectar a la base de datos (reemplaza 'nombre_base_de_datos.db' con tu archivo .sqlite)
conexion = sqlite3.connect('C:/Users/Usuario/Documents/Bancolombia/Prueba_tecnica_ecosistemas/Helper/BD/database.sqlite')

# Crear un cursor para ejecutar consultas
cursor = conexion.cursor()

# Obtener la lista de tablas en la base de datos
query_tablas = "SELECT name FROM sqlite_master WHERE type='table';"
tablas = pd.read_sql_query(query_tablas, conexion)

# Mostrar las tablas encontradas
print("Tablas en la base de datos:")
print(tablas)

# Seleccionar una tabla específica,
nombre_tabla_1 = tablas['name'][0]  # Cambia el índice según la tabla que desees explorar

# Leer los datos de la tabla seleccionada en un DataFrame
query_datos = f"SELECT * FROM {nombre_tabla_1};"
df_apicall = pd.read_sql_query(query_datos, conexion)

# Seleccionar una tabla específica,
nombre_tabla_2 = tablas['name'][0]  # Cambia el índice según la tabla que desees explorar

# Leer los datos de la tabla seleccionada en un DataFrame
query_datos = f"SELECT * FROM {nombre_tabla_2};"
df_commerce = pd.read_sql_query(query_datos, conexion)

# Cerrar la conexión
#conexion.close()

Tablas en la base de datos:
               name
0           apicall
1          commerce
2  commission_table

In [36]:
query_datos = f"SELECT strftime('%m', date_api_call), date_api_call FROM {nombre_tabla_1} LIMIT 6;"
df = pd.read_sql_query(query_datos, conexion)

In [38]:
df

  strftime('%m', date_api_call)        date_api_call
0                            10  2024-10-21 18:31:16
1                            10  2024-10-13 17:12:08
2                            12  2024-12-23 01:02:06
3                            07  2024-07-11 07:24:35
4                            06  2024-06-28 11:43:52
5                            02  2024-02-09 14:04:58

In [39]:
df_apicall.head()

         date_api_call          commerce_id  ask_status  is_related
0  2024-10-21 18:31:16  GdEQ-MGb7-LXHa-y6cd  Successful         1.0
1  2024-10-13 17:12:08  GdEQ-MGb7-LXHa-y6cd  Successful         1.0
2  2024-12-23 01:02:06  Rh2k-J1o7-zndZ-cOo8  Successful         1.0
3  2024-07-11 07:24:35  GdEQ-MGb7-LXHa-y6cd  Successful         1.0
4  2024-06-28 11:43:52  Rh2k-J1o7-zndZ-cOo8  Successful         1.0

In [40]:
df_apicall['commerce_id'].value_counts()

commerce_id
3VYd-4lzT-mTC3-DQN5    300512
KaSn-4LHo-m6vC-I4PU    300100
Vj9W-c4Pm-ja0X-fC1C    299955
Rh2k-J1o7-zndZ-cOo8    299781
GdEQ-MGb7-LXHa-y6cd    299652
Name: count, dtype: int64

In [41]:
df_grouped = df_apicall.groupby(['commerce_id', 'ask_status']).size().unstack(fill_value=0)

In [42]:
df_grouped

ask_status           Successful  Unsuccessful
commerce_id
3VYd-4lzT-mTC3-DQN5      240591         59921
GdEQ-MGb7-LXHa-y6cd      239507         60145
KaSn-4LHo-m6vC-I4PU      240036         60064
Rh2k-J1o7-zndZ-cOo8      239976         59805
Vj9W-c4Pm-ja0X-fC1C      240385         59570

In [43]:
df_apicall['is_related'].value_counts()

is_related
1.0    800928
0.0    399567
Name: count, dtype: int64

In [44]:
df_apicall.shape

(1500000, 4)

In [45]:
df_commerce

               date_api_call          commerce_id    ask_status  is_related
0        2024-10-21 18:31:16  GdEQ-MGb7-LXHa-y6cd    Successful         1.0
1        2024-10-13 17:12:08  GdEQ-MGb7-LXHa-y6cd    Successful         1.0
2        2024-12-23 01:02:06  Rh2k-J1o7-zndZ-cOo8    Successful         1.0
3        2024-07-11 07:24:35  GdEQ-MGb7-LXHa-y6cd    Successful         1.0
4        2024-06-28 11:43:52  Rh2k-J1o7-zndZ-cOo8    Successful         1.0
...                      ...                  ...           ...         ...
1499995  2024-06-28 05:22:39  Vj9W-c4Pm-ja0X-fC1C  Unsuccessful         NaN
1499996  2024-02-15 16:19:05  3VYd-4lzT-mTC3-DQN5  Unsuccessful         NaN
1499997  2024-04-18 04:51:55  GdEQ-MGb7-LXHa-y6cd    Successful         1.0
1499998  2024-12-26 00:38:28  KaSn-4LHo-m6vC-I4PU    Successful         0.0
1499999  2024-10-26 14:39:50  Rh2k-J1o7-zndZ-cOo8    Successful         0.0

[1500000 rows x 4 columns]

## **Merge**

In [22]:
merge = df_apicall.merge(df_commerce, on = 'commerce_id', how = 'left')

In [24]:
# Conversion de tipo de datos
merge['date_api_call'] = pd.to_datetime(merge['date_api_call'])
merge['month'] = merge['date_api_call'].dt.month
merge['year'] = merge['date_api_call'].dt.year

In [25]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1500000 entries, 0 to 1499999
Data columns (total 10 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   date_api_call    1500000 non-null  datetime64[ns]
 1   commerce_id      1500000 non-null  object
 2   ask_status       1500000 non-null  object
 3   is_related       1200495 non-null  float64
 4   commerce_nit     1500000 non-null  int64
 5   commerce_name    1500000 non-null  object
 6   commerce_status  1500000 non-null  object
 7   commerce_email   1500000 non-null  object
 8   month            1500000 non-null  int64
 9   year             1500000 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(5)
memory usage: 125.9+ MB

In [26]:
merge.head()

,date_api_call,commerce_id,ask_status,is_related,commerce_nit,commerce_name,commerce_status,commerce_email,month,year
0,2024-10-21 18:31:16,GdEQ-MGb7-LXHa-y6cd,Successful,1.0,919341007,FusionWave Enterprises,Active,fusionwaveenterprises@microfitsof.com,10,2024
1,2024-10-13 17:12:08,GdEQ-MGb7-LXHa-y6cd,Successful,1.0,919341007,FusionWave Enterprises,Active,fusionwaveenterprises@microfitsof.com,10,2024
2,2024-12-23 01:02:06,Rh2k-J1o7-zndZ-cOo8,Successful,1.0,198818316,QuantumLeap Inc.,Active,quantumleapinc.@gemaily.net,12,2024
3,2024-07-11 07:24:35,GdEQ-MGb7-LXHa-y6cd,Successful,1.0,919341007,FusionWave Enterprises,Active,fusionwaveenterprises@microfitsof.com,7,2024
4,2024-06-28 11:43:52,Rh2k-J1o7-zndZ-cOo8,Successful,1.0,198818316,QuantumLeap Inc.,Active,quantumleapinc.@gemaily.net,6,2024

In [27]:
merge.groupby(['commerce_name', 'ask_status']).size().unstack(fill_value=0)

ask_status              Successful  Unsuccessful
commerce_name
FusionWave Enterprises      239507         60145
Innovexa Solutions          240036         60064
NexaTech Industries         240385         59570
QuantumLeap Inc.            239976         59805
Zenith Corp.                240591         59921

In [28]:
merge['year'].value_counts()

2024    1500000
Name: year, dtype: int64

In [29]:
merge['month'].value_counts()

5     127446
7     127088
8     127027
10    126978
12    126772
3     126709
1     126667
4     123300
9     123167
6     123062
11    123010
2     118774
Name: month, dtype: int64

In [58]:
merge_filtered = merge[(merge['month'].isin([7,8]))] #& (merge['commerce_status']=='Active')]

In [59]:
merge_filtered.shape

(254115, 10)

In [60]:
merge_filtered.groupby(['commerce_name', 'ask_status', 'month']).size().unstack(fill_value=0)

month                                    7      8
commerce_name          ask_status
FusionWave Enterprises Successful    20406  20262
                       Unsuccessful   5115   5117
Innovexa Solutions     Successful    20244  20364
                       Unsuccessful   5002   5074
NexaTech Industries    Successful    20387  20358
                       Unsuccessful   5029   5030
QuantumLeap Inc.       Successful    20231  20304
                       Unsuccessful   5234   5066
Zenith Corp.           Successful    20394  20414
                       Unsuccessful   5046   5038